*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    font-size: 2rem;
    margin: 0;
}

nav{
    
    margin: auto;
    background-color: red;
}

.navbar{
    margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
width: 80vw;

}


.navbar a{
    text-decoration: none;
    color: white;
font-size: 3rem;
font-weight: bold;
padding: 0.5rem 1rem;

}

/* Hamburger*/

.hamburgerMenu:hover{
    background-color: white;
}

.hamburgerMenu span:hover{
   background-color: red;
}


.nav_hamburger a{
    text-decoration: none;
    color: white;
font-size: 3rem;
font-weight: bold;
padding: 0.5rem 1rem;

margin-bottom: 1rem;
width:100%;
}

.nav_hamburger ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    background-color: red;
    margin-bottom: 2rem;
}


.nav_hamburger li:hover{
    width: 100%;
    background-color: rgb(163, 2, 2);
    text-align: center;
    
    
}

.nav_hamburger_dropdown_1 {
    opacity: 0;
    position: relative;
    animation: dropdown 0.5s linear  forwards;
   
    
   
}

.nav_hamburger_dropdown_2 {
    opacity: 0;
    position: relative;
    animation: dropdown 0.5s linear 0.5s forwards;
   
   
}

.nav_hamburger_dropdown_3 {
    opacity: 0;
    position: relative;
    animation: dropdown 0.5s linear 1s forwards;
   
}





.hamburgerMenu{
    display: none;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
}
.hamburgerMenu span{
    width: 4rem;
    height: 0.5rem;
    background-color: white;
}


.nav_hamburger_show{
display: block;
display: flex;
flex: 1;
justify-content: center;

align-items: center;


}

.nav_hamburger_hide{
    display: none;
}





/* Hamburger*/

.nav_right ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 2rem;
}

.logo ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 2rem;
}

.tab_container{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    max-width: 100%;
}

.tab{
    display: flex;
    justify-content: space-evenly;
    font-size: 3vw;
    width: 100%;
}

.tab_1{
   
    padding: 0 3vw;
}

.toogle{
    display: none;
}

/* .parentList{
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
} */

.firstListChild{
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* .firstListChild li::before{
    content: "+";
    margin-right: 2rem;
   font-size: 3rem;
   font-weight: bold;
   padding: 0.2rem 1rem;
    color: white;
    background-color: black;
    border-radius: 2rem;
    
   
} */

.firstListChild li{
    display: flex;
    flex-direction: column;
}

.listTitle{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}


.bullet{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    align-items: center;
}

li p {
   
    background-color: rgb(204, 199, 199);
}




@media screen and (max-width: 600px) {
    .hamburgerMenu{
        display: flex;
    }
    .nav_right{
        display: none;
    }

    nav{
        width: 100%;
        margin: auto;
        background-color: red;
    }
    
    .navbar{
        margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    
    }

   
}

@media screen and (min-width: 600px) {
    .nav_hamburger{
        display: none;
    }
    
}






@keyframes dropdown {
    from{
        bottom: 100px;
        color: red;
        opacity: 0;
        
    }

    to {
        bottom: 0px;
        color: wheat;
        opacity: 1;
       
    }
}
